useDynLib(npcure, .registration = TRUE)

S3method(print, npcure)

S3method(summary, npcure)

import("stats")

importFrom("permute", "allPerms")

importFrom("utils", "str")

importFrom("utils", "tail")

importFrom("zoo", "rollapply")

export(beran, berancv, controlpars, hpilot, latency, latencyhboot, probcure, probcurehboot, testcov, testmz)
